<h1>About Bots and Pans</h1>
<p>Bots and Pans was created by students at UC Berkeley School of Information for a course in User Interface and Design</p>
<p>Team Members: </p>
<ul>
	<li> Christina Gambacorta </li>
	<li> Sandra Helsley </li>
	<li> Christina Pham </li>
	<li> Kate Rushton </li>
	<li> Morgan Wallace </li>
</ul>

<%= image_tag "robot.png" %>



