<div id="profile">
	<h1>C3PO</h1>
	<p>Edit Robot [insert link]</p>

	<div id="image"><%= image_tag "c3po.png" %></div>

	<div id = "gameStats">
		<h4>Game Statistics</h4>
		<ul id="statsList">
			<li>Number of recipies cooked: 10</li>
			<li>Best time: 3:20</li>
			<li>Favorite Recipe: Cake</li>
		</ul>
	</div>
	<p>Find me in app/views/user/show.html.erb</p>
</div>
