
<div id="level_data" style="display:none">
  <span id="final_state"><%= @level.final_state_id %></span>
  <span id="time_limit"><%= @level.time_limit %></span>
  <span id="description"><%= @level.description %></span>
</div>

  <div id="topSpace">
      <h1><%= @level.name %></h1>

      <h2>Serve</h2>
      <div id="serve" style="border: 1px solid red; width:100px; height:100px;"></div>
  </div>    
   <div id="gameSpace">
            <div class="column floatLeft">
                <div class="top">
                    <!--<div id="selectionSlider" class="floatLeft">
                        <div>
                            <span class="float-left">Likes</span>
                            <span class="float-left" id="selector"></span>
                            <span class="float-left">Plays</span>
                        </div>
                    </div>-->
                    <h3>Stove Top</h3>
                </div>
                <div class="top">
                    <h3>Oven</h3>
                </div>
            </div>

            <div class="column floatLeft marginLeft">
                <h3>Workspace</h3>
            </div>

            <div class="column floatLeft marginLeft">
                <div class="top">
                    <h3>Tools</h3>
                </div>
                <div class="top">
                    <h3>Ingredients</h3>
                </div>
            </div>
  </div>


    