#about {
	overflow: auto;
}

#aboutContent {
	width: 520px;
}

#aboutLogo {
	width: 400px;
	height: 170px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	margin: 0 0 0 35px;
}

#ourTeam {
	overflow: auto;
}

#ourTeam div {
	text-align: center;
	width: 178px;
	margin-right: 14px;
	float: left;
}

.profileLast {
	margin-right: 0;
}