.bodypart {
	width:30%;
    padding-right:10px;
}

.windowpart {
	width:100px;
}


#title{
	padding-right: 200px
}

#tabs{
	width: 100px;
	margin-left: 20px;
}

#partsViewer{
	border: solid;
	border-width: 2px;
}

#robotName h3 {
	display:inline;
	margin:10px 10px 0px 0px;
}

#title {
	margin-top: -3px;
}

#partsViewer {
	margin-right: 0;
	min-height:600px;
	padding:10px;

}

#myRobot{
	min-height: 600px;
	min-width: 50px;
	border: solid;
	border-width: 2px;
	text-align:center;
	padding:10px;
	right:10px;
}

.highlighted {
	border: 3px solid #00C3EA;
}

#removeExtras {
	float:right;
	left:5px;
	width:30%;
	padding:5px;
}

#saveRobot {
	width:90px;
	padding:5px;
	margin-left:35%;
	margin-bottom:40px;
}

table {
	text-align:center;
	margin-left:30px;
}
table img {
	margin:-1px;
}
#target-6 {
	position:relative;
	top:20px;
}
#message {
	display:none;
	float:left;
}