@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	margin: 0;
}

html,
body {
	width: 100%;
	min-height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333333;
	padding: 0;
	background-image: url('../images/background.png');
	background-attachment: fixed;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

#wrapper {
	height: 100%;
	margin: 0 20px;
}

#content {
	width: 960px;
	max-height: auto;
	min-height: 300px;
	background-color: white;
	margin: 0 auto;
	padding: 0 10px 0;
	overflow: auto;
}

header {
	width: 100%;
	height: 60px;
	background-color: #00C3EA;
	padding: 0 10px 0;
	margin-left: -10px;
}

header a {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 1.3em;
	color: white;
	text-decoration: none;
}

header a:hover,
header a.hover {
	text-decoration: underline;
}

#navigation {
	margin: 20px 0 0 0;
}

#navigation a {
	margin: 0 10px;
}

footer {
	width: 100%;
	height: 30px;
	font-size: .8em;
	color: #EDD5A8;
	background-color:#F75A11;
	padding: 20px 10px 0;
	margin-left: -10px;
	margin-top: 10px;
}

/* BUTTONS! BUTTONS EVERYWHERE! */

.greenButton {
	color: white;
	text-align: center;
	background-color: #6FC627;
	display: block;
	cursor: pointer;
	border-radius: 5px;
	border-top: 1px solid #B8EDB1;
	box-shadow: 0 0 0 1px #3BA50D;
}

.greenButton:hover,
.greenButton.hover {
	background-color: #67D129;
}

.greenButton:active,
.greenButton.active {
	background-color: #51BA25;
	border-top: none;
	border-bottom: 1px solid #B8EDB1;
}
