@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	margin: 0;
}

html,
body {
	width: 100%;
	min-height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333333;
	padding: 0;
	background-image: url('../images/background.png');
	background-attachment: fixed;
}

#wrapper {
	height: 100%;
	margin: 0 20px;
}

#content {
	width: 960px;
	max-height: auto;
	min-height: 300px;
	background-color: white;
	margin: 0 auto;
	padding: 0 10px 0;
}

header {
	width: 100%;
	height: 75px;
	background-color: #00C3EA;
	padding: 0 10px 0;
	margin-left: -10px;
}

header a {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 1.3em;
	color: white;
	text-decoration: none;
}

footer {
	width: 100%;
	height: 50px;
	background-color:#F75A11;
	padding: 0 10px 0;
	margin-left: -10px;
	margin-top: 10px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}