#modalIntro, .modal{
	/*width: 500px;*/
	border: solid;
	border-width: 1px;
	padding: 5px;
	margin-bottom: 5px;
	background: white;
}

.ui-widget-overlay {

	background: #AAA/*{bgColorOverlay}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/;
	opacity: .4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-button{
	width: 100%;
	padding:10px;
	font-size: 18px;
}