#levelChooser {
	margin: 0;
	padding: 0;
	height: 525px;
	width: 100%;
	padding-left: 15px;
	border-left: 1px solid black;
}

#levelChooser h4{
	border-bottom: 2px solid red;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-weight: bold;
}

#levelChooser > div{;
	background-image:url('../images/recipecard.png');
	background-attachment: scroll;
	background-repeat: repeat;
}

#levelChooser p{
	padding-top: 6px;
	line-height: 22px;
}

#levelChooser .ui-state-hover, .ui-state-active {
	background-color: #aaa;
}

#levelChooser .ui-state-focus{
	outline: none;
}

.playButton {
	padding: 10px;
	margin: 10px 20px 20px 20px;
	z-index: 100;
}

/* profile styles */
#profileStats, #profile{
	padding: 0;
}

.profileTitle{
	margin: 0;
	padding: 0;
}

#gameStats ul{
	list-style-type: none;
}

#badgeContainer {
	border: 1px solid #666;
	margin: 0px;
	padding: 0;
	margin-left: 30px;
	width: 320px;
	height: 250px;
	overflow-y: scroll;	
}

#badgeContainer > div {
	margin: 20px;
}

/* popovers */
.popover{
	background-color: #F75A11;
	width: 180px;
}

.popover-title{
	background-color: #00C3EA;
	color: white;
}

.popover-inner{
	background-color: #F75A11;
	padding: 2px;
}

.popover-content{
	background-color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
