#levelChooser {
	margin: 0;
	padding: 0;
}

#levelChooser h3{
	border-bottom: 2px solid red;
	padding-top: 10px;
}

#levelChooser > div{
	background-image:url('../images/recipecard.png');
	background-attachment: scroll;
	background-repeat: repeat;
}

#levelChooser p{
	line-height: 22px;
}

#levelChooser .ui-state-hover, .ui-state-active {
	background-color: #aaa;
}

#levelChooser .ui-state-focus{
	outline: none;
}


.playButton {
	height: 18px;
	width: 40px;
	padding: 10px;
	margin: 10px 20px 20px 20px;
}