<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @state_category.name %>
</p>


<%= link_to 'Edit', edit_state_category_path(@state_category) %> |
<%= link_to 'Back', state_categories_path %>
