/*    ==============    GAME SCREEN ================= */
.marginLeft {
	margin-left: 9px;
}

#topSpace {
	width: 100%;
	height: 200px;
}

#gameSpace {
	width: 100%;
	height: 440px;
	margin: 10px 0 0 0;
}

.column {
	width: 314px;
	height: 440px;
	color: #6B513A;
	position: relative;
}

.top {
	width: 100%;
	height: 215px;
	margin-bottom: 10px;
	position: relative;
}

.column h3 {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 10px;
}

#recipeName {
	width: 50%;
	height: 100%;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 4.5em;
	font-weight: bold;
	letter-spacing: -2px;
	color: #6B513A;

}

#workSpace,
#tools,
#ingredients {
	background-color: #FFF2E5;
}

#stoveTop,
#oven {
	background-color: #ECECEC;
}

#selectionSlider div {
	width: 400px;
	overflow: auto;
	position: absolute;
	left: 0px;
}

#selectionSlider div span {
	display:block;
	width: 65px;
	text-align: center;
	padding: 8px 10px 7px;
	text-shadow: 0 -1px #005991;
}

#selector {
	height: 14px;
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #FEFEFE 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #FEFEFE 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #FEFEFE 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FEFEFE 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #FEFEFE 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	float: left;
	display: block;
	border-radius: 4px;
}

#serve {
	width: 80px;
	height: 20px;
	padding: 10px 10px 8px;
	margin: 10px auto;
}

/*    ==============    GAME INTERACTIONS ================= */

.itembox {
	width:100px;
	height:100px;
	float:left;
	padding:5px 3px;
}

/*    ==============    RECIPE BOOK ================= */
.accordion {
	margin: 0;
	padding: 0;
	width:60%;
	float:right;
}

.accordion > h3{
	border-bottom: 2px solid red;
	padding-top: 20px;
}

.accordion > div{
	background-image:url('/cssimages/recipecard.png');
	background-attachment: scroll;
	background-repeat: repeat;
	padding: 5px 5px 30px 5px;
}

.accordion p{
	line-height: 22px;
	padding-top: 6px;
}

.accordion .ui-state-hover, .ui-state-active {
	background-color: #aaa;
}

.accordion .ui-state-focus{
	outline: none;
}


.playButton {
	height: 18px;
	width: 40px;
	padding: 10px;
	margin: 10px 20px 20px 20px;
}

.category {
	float: right;
	font-style: italic;
}

/*    ==============    PROFILE ================= */
#profile {
	width: 35%;
	float:left;
	margin-right:5%;
	background-color:#FFF;
}


#badgeContainer {
	border: 1px solid #666;
	padding: 10px;
	height:180px;
	overflow:auto;
}

.badge {
	width: 80px;
	height: 80px;
	border-radius:40px;
	float:left;
	border: 1px solid gray;
	text-align:center;
}

.locked {
	background-color:#666;
	color:#FFF;
}

.unlocked {
	background-color:#FFF;
}

hr { 
	clear: both;
	margin: 10px 0px;
}