/*    ==============    GAME SCREEN ================= */

.floatLeft {
	float: left;
}

.marginLeft {
	margin-left: 10px;
}

#topSpace {
	width: 100%;
	height: 150px;
}

#gameSpace {
	width: 100%;
	height: 450px;
	margin: 10px 0 0 0;
}

.column {
	width: 313px;
	height: 450px;
}

.top {
	width: 100%;
	height: 225px;
}

.column h3 {
	text-align: center;
}

#selectionSlider div {
	width: 400px;
	overflow: auto;
	position: absolute;
	left: 0px;
}

#selectionSlider div span {
	display:block;
	width: 65px;
	text-align: center;
	padding: 8px 10px 7px;
	text-shadow: 0 -1px #005991;
}

#selector {
	height: 14px;
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #FEFEFE 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFEFE), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #FEFEFE 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #FEFEFE 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FEFEFE 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #FEFEFE 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	float: left;
	display: block;
	border-radius: 4px;
}

.itembox {
	width:100px;
	height:100px;
	float:left;
	padding:10px;
}



/*    ==============    RECIPE BOOK ================= */
#accordion {
	width: 60%;
	float:right;
}
.accordion > h3 {
	border-bottom: 1px solid red;
	padding-top: 10px;
}

.accordion .button{
	float:right;
	margin-top:10px;
}

.accordion > div {
	padding-top:3px;
	background-image:url('/cssimages/recipecard.png');
}

.accordion p {
	max-width: 80%;
	font-size:12px;
	line-height: 20px;
}

.category {
	float: right;
	font-style: italic;
}

/*    ==============    PROFILE ================= */
#profile {
	width: 35%;
	float:left;
	margin-right:5%;
}


#badgeContainer {
	border: 1px solid #666;
	padding: 10px;
	height:180px;
	overflow:auto;
}

.badge {
	width: 80px;
	height: 80px;
	border-radius:40px;
	float:left;
	border: 1px solid gray;
	text-align:center;
}

.locked {
	background-color:#666;
	color:#FFF;
}

.unlocked {
	background-color:#FFF;
}

hr { 
	clear: both;
	margin: 10px 0px;
}