// Place all the styles related to the Robots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tabs {
	width:70%;
	float:right;
	height:600px;
}
#myrobot {
	width: 30%;
	height:600px;
}